<!DOCTYPE doctype html>
<html lang="zh">
    <head>
        <meta charset="utf-8"/>
        <title>
            {% if passage %}
            编辑文章 - {{ passage.title }}
            {% else %}
            新建文章
            {% endif %}
        </title>
        <link href="http://p2v0lzbr1.bkt.clouddn.com/editor.md-master/css/editormd.min.css" rel="stylesheet"/>
        <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
            <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js">
            </script>
            <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js">
            </script>
            <script src="http://p2v0lzbr1.bkt.clouddn.com/editor.md-master/editormd.min.js">
            </script>
            <script src="{{ url_for('static',filename='js/main.js') }}">
            </script>
            <script src="{{ url_for('static',filename='js/sweetalert.min.js') }}"></script>
        </link>
    </head>
    <body style="overflow-x:hidden;overflow-y:hidden">
        <!-- 禁止滚动 -->
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <!--                 <form action="{{ url_for('upload') }}" method="post" >
                <dl>
                <dt>title:
                <dd><input type=text id="title">
                <dt>tags:
                <dd><input type=text id="tags"></dl>
                </form>
                <button class="btn btn-primary" onclick='send();'>确定</button>
 -->
                    <form class="form-horizontal" id="form" onsubmit="return false;">
                        <fieldset>
                            <div class="" id="legend">
                                <legend class="">
                                    发布文章
                                </legend>
                            </div>
                            <div class="control-group">
                                <!-- Text input-->
                                <label class="control-label" for="input01">
                                    标题
                                </label>
                                <div class="controls">
                                    <input class="input-xlarge" name="title" placeholder="" type="text" value="{{ passage.title }}" required>
                                    <input name="id" type="hidden" value="{{ passage.id or -1 }}">
                                    </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">
                                    标签
                                </label>
                                <div class="controls">
                                    <!-- Multiple Checkboxes -->
                                    {% for i in tags %}
                                    <label class="checkbox">
                                        <input name="tags" type="checkbox" value="{{ i.id }}" 
                                        {% if i.id in tag %}
                                        checked
                                        {% endif %} 
                                        >
                                            {{ i.name }}
                                        </input>
                                    </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">
                                </label>
                                <!-- Button -->
                                <div class="controls">
                                    <button class="btn btn-success" id="Send" type="submit">
                                        <span class="glyphicon glyphicon-ok">
                                        </span>
                                        确定
                                    </button>
                                    <button class="btn btn-danger" onclick='window.location.href = "{{ url_for('getAll',_external=true) }}";'>
                                        <span class="glyphicon glyphicon-cancal">
                                        </span>
                                        返回
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="col-md-10">
                    <div id="layout">
                        <div id="test-editormd">
                            <textarea style="display:none;">{{ passage.context }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                var testEditor;
        $(function() {
            testEditor = editormd("test-editormd", {
                width: "90%",
                height: 640,
                syncScrolling: "single",
                path: "http://p2v0lzbr1.bkt.clouddn.com/editor.md-master/lib/"
            }); 
            
            setTimeout(()=>{
                let saved = localStorage.getItem("saved");
                let context = localStorage.context;
                {% if passage %}
                // TODO：有文章时完成操作
                // 改动后设置saved = 0，并添加context保存
                {% else %}
                // 无文章时完成的操作
                if (context && saved == "0"){//已经存在了文章，但未保存
                    testEditor.setMarkdown(localStorage.context);
                    swal("已经恢复了未保存的文章",'',"info");
                }else{ // 不存在文章
                    localStorage.setItem('saved',0);
                }
                setInterval(function(){
                    localStorage.context = testEditor.getMarkdown(); // 暂时保存文章内容
                },10000);
                {% endif %}
            },1000);
        });
            </script>
        </div>
    </body>
</html>