<!doctype html>
<html lang="zh">        
<head>
        <meta charset="utf-8" />
        <title>Simple example - Editor.md examples</title>
        <link rel="stylesheet" href="http://ow7hjaxkb.bkt.clouddn.com/style.css"/>
        <link rel="stylesheet" href="http://ow7hjaxkb.bkt.clouddn.com/editormd.css"/>
</head>

<body>
        <div id="layout">
            <header>
                <h1>Simple example</h1>
            </header>

            <div id="test-editormd">
                <textarea style="display:none;">
---
title: 
tags: 
date: 
---
<!--more-->
                </textarea>
            </div>

        </div>
        <script src="http://ow7hjaxkb.bkt.clouddn.com/jquery.min.js"></script>
        <script src="http://ow7hjaxkb.bkt.clouddn.com/editormd.min.js"></script>
        <script type="text/javascript">
			var testEditor;
            $(function() {
                testEditor = editormd("test-editormd", {
                    width   : "90%",
                    height  : 640,
                    syncScrolling : "single",
                    path    : "http://ow7hjaxkb.bkt.clouddn.com/lib/"
                });
                /*
                // or
                testEditor = editormd({
                    id      : "test-editormd",
                    width   : "90%",
                    height  : 640,
                    path    : "../lib/"
                });
                */
            });
            function send(){
                //testEditor.getMarkdown().toString()
                $.ajax({
                    type: 'POST',
                    url: '../upload/',
                    data: JSON.stringify({
                        'content':testEditor.getMarkdown().toString(),
                        'title':$('#title').val(),
                        'tags':$('#tags').val(),
                }), // or JSON.stringify ({name: 'jonas'}),
                    success: function(data) { 
                        if (confirm('已经保存为： ' + data['filename']+'\n是否保存？')){
                            publish(data['filename']);
                        }
                    },
                    contentType: "application/json",
                    dataType: 'json'
                });
            }
            function publish(filename){
                $.get( "../upload/?filename="+filename, function( data ) {
                    alert( "Data Loaded: " + data );
                });
            }
        </script>
        <form action="{{ url_for('login') }}" method=post >
        <!--input type="submit" value="Submit" /-->
        
        <dl>
        <dt>title:
        <dd><input type=text id="title">
        <dt>tags:
        <dd><input type=text id="tags"></dl>
        </form>
        <button onclick='send();'>确定</button>
    </body>
</html>